:javascript
  $("ul.lines > li > ul > li")
    .bind("mouseenter mouseleave mousedown mouseup", function(){
      $(this).toggleClass("ui-state-default")
    })        
    .bind("mousedown mouseup", function(){
      $(this).toggleClass("ui-state-hover")
    })

  $("ul.lines > li")
    .bind("mouseenter mouseleave", function(){
      $(this).toggleClass("ui-state-active")
    })