html, body {
  color: #555;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: sans-serif; }

a {
  color: #555; }
  a:hover {
    color: #fff;
    background-color: #000; }

p {
  margin: 3px; }

acronym {
  text-decoration: underline;
  cursor: help; }

.table {
  display: table; }
  .table > .tr {
    display: table-row; }
    .table > .tr >.td {
      display: table-cell;
      padding: 0 5px; }

.upcase{
  text-transform: uppercase;}

#timetable {
  padding: 20px 0;
  margin: 10px;
  width: 600px;
  border-collapse: collapse; }
  #timetable > .tr:first-child > .td:first-child {
    vertical-align: middle; }
  #timetable > .tr:first-child > .td:last-child {
    padding-top: 10px; }
  #timetable > .tr > .td {
    border: 1px #000 solid;
    padding: 0; }

#stopname {
  font-size: 23px;
  font-weight: bold; }

#route {
  padding: 20px 5px; }

#numbers {
  width: 100%; }
  #numbers .tr .td {
    text-align: center;
    font-weight: bold;
    padding: 0;
    white-space:nowrap; }
    #numbers .tr .td .table {
      width: 100%; }
      #numbers .tr .td .table .tr .td {
        border: 1px #000 solid;
        border-width: 1px 0px;
        text-align: left;
        font-weight: normal;
        padding: 0 8px;
        white-space: nowrap;
        word-spacing:4px; }
        #numbers .tr .td .table .tr .td span{
        padding:0 4px;}
        #numbers .tr .td .table .tr .td:first-child {
          text-align: right;
          font-weight: bold;
          border-right-width: 1px;
          width: 25px; }
  #numbers > .tr > .td {
    border: 0px #000 solid;
    border-left-width: 1px; }
    #numbers > .tr > .td:first-child {
      border-width: 0; }

.present a{
  background-color: black;
  color: white;
  display: block;
  width: 100%; }

#mpk {
  padding: 5px; }

.no {
  font-size: 2cm;
  font-weight: bold;
  text-align: center; }
  .no a {
    text-decoration: none;
    position: relative;
    top: 45px; }

#stopsIndex, #linesIndex {
  width: 100%; }

#stopslist {
  margin: 0;
  font-size: 10px;
  white-space: nowrap; 
  padding-left: 30px; }

ol > ul > li{
  margin-left: -28px;}

.tip {
  cursor: help
}

.future{
    background-color: #e5e5e5
}

.future_over{
    background-color: #ddd
}
